p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
body{
    background-image:url('img/okem.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
ul{
    list-style-type: none;
    font-size:30px;
    font-family:sans-serif;
    padding:0;
}
h1{
    color:tomato;
}
table{
	color:Black;
	font-size:30px;
	border-collapse: collapse;
}
td{
	font-family: 'Courier New', Courier, monospace;
	font-size:50px;
        text-align: center;
}
a:link {
  color: darkorange;
}
a:visited {
  color: darkorange;
}
a:hover {
  color: coral;
}
a:active {
  color: yellow;
}
a{
font-size:50px;
	font-family: 'Courier New', Courier, monospace;}
